.header {
  background: #000;
  height: 60px;
}

.header-container {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 100%;
}

.logo {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

.nav-ul {
  list-style: none;
  display: flex;
}

.nav-item {
  padding: 0 10px;
}

.nav-item-link {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
}
